* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
section {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

nav {
  text-align: center;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
